# Compiled class files
java-api-server/*.class

# Target folder
java-api-server/target

# Log files
java-api-server/*.log
java-api-server/log.roo

# BlueJ files
java-api-server/*.ctxt

# Mobile Tools for Java (J2ME)
java-api-server/.mtj.tmp/

# Package Files
java-api-server/*.jar
java-api-server/*.war
java-api-server/*.nar
java-api-server/*.ear
java-api-server/*.zip
java-api-server/*.tar.gz
java-api-server/*.rar

# Virtual machine crash logs
java-api-server/hs_err_pid*

# node_modules folder
node-proxy-server/node_modules
