<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_useraccount})}|">Show UserAccount - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${userAccount}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="useraccount-username-field" data-z="28d43697">
            	      <strong data-th-text="#{label_useraccount_username}">username</strong>
                    <span data-th-text="*{{username}}">usernameValue</span>
         	        </li>
                  <li id="useraccount-email-field" data-z="bea2cee7">
            	      <strong data-th-text="#{label_useraccount_email}">email</strong>
                    <span data-th-text="*{{email}}">emailValue</span>
         	        </li>
                  <li id="useraccount-hash-field" data-z="2874b97">
            	      <strong data-th-text="#{label_useraccount_hash}">hash</strong>
                    <span data-th-text="*{{hash}}">hashValue</span>
         	        </li>
                  <li id="useraccount-is_editor-field" data-z="90ee5227">
            	      <strong data-th-text="#{label_useraccount_is_editor}">is_editor</strong>
                    <span data-th-text="*{{is_editor}}">is_editorValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
