<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="track-entityModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('TracksCollectionThymeleafController')},itemLink=${@linkBuilder.of('TracksItemThymeleafController')}">
    <table id="track-entity-table-item-to-remove" data-data-load-url="${collectionLink.to('datatablesByIdsIn')}">
      <thead>
        <tr>
          <th data-data="title" data-th-text="#{label_track_title}">title</th>
          <th data-data="thumbnail" data-th-text="#{label_track_thumbnail}">thumbnail</th>
          <th data-data="file" data-th-text="#{label_track_file}">file</th>
          <th data-data="artist" data-th-text="#{label_track_artist}">artist</th>
          <th data-data="album" data-th-text="#{label_track_album}">album</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
          <td>title</td>
          <td>thumbnail</td>
          <td>file</td>
          <td>artist</td>
          <td>album</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->